/* API JCDecaux : 6a44c41c86a1d2eb545763e7342cca6867d25c75 */

html,
body {
	font-family: 'Comfortaa', cursive;
}

a span {
	color: #FFFAFF;
	font-size: 24px !important;
}

a img {
	background: linear-gradient(to right, #3e70cc 33%, #FFFAFF 70%, #D8315B 33%);
	box-shadow: inset 0px 0px 14px 9px rgb(0, 0, 0);
	border: 2px solid rgba(255, 255, 255, .6);
	height: 50px;
	width: 70px;
}

.navbar-nav {
	flex-direction: column;
}

.navbar {
	box-shadow: inset 0px 0px 20px 1px rgb(0, 0, 0);
	background-color: #0A2463
}
.navbar-brand {
	margin-right: 8px;
}
.nav-link {
	padding: 5px !important;
	color: #3E92CC !important;
	font-size: 12px;
}

.nav-link:hover {
	color: black !important;
	background-color: black !important;
	box-shadow: inset 0px 0px 20px 20px #FFFAFF;
	transition: 0.6s ease-in-out;
}

#textSlide {
	color: #FFFAFF;
	text-align: center;
	padding: 20px;
}

.container-fluid {
	padding: 0;
	position: relative;
	top: 30px;
}

.slider {
	margin: auto;
	width: 80%;
	background: #ffffff;
	border-bottom: 1px dotted;
}

#text-slider {
	position: relative;
	font-style: normal;
	margin-bottom: 100px;
	text-align: center;
	padding: 50px;
	margin: 0;
}

#text-slider h1 {
	font-size: 2em;
	margin: 0;
}

#text-slider p {
	margin-bottom: 40px;
}

#titre>.color {
	color: #bd1515;
}

#text-slider a {
	border-radius: 20px;
	text-decoration: none;
	padding: 5px 30px;
	background-color: #194965;
	color: white;
}

#text-slider a:hover {
	background-color: rgba(255, 140, 0, 0.63);
}

#bouton-info {
	color: white;
	background-color: #5badd3;
	text-decoration: none;
	border-bottom: 3px solid #4494bb;
	border-radius: 3px;
	padding: 10px 15px;
}


/*-----Fonctionnement--------*/

#Fonctionnement {
	width: 100%;
	margin: auto;
	background-color: #D8315B;
	border-bottom: 1px solid;
	padding: 50px 0;
}

.imageFonctionnement {
	max-width: 1500px;
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 0 auto;
	margin-bottom: 20px;
	opacity: 1;
}

.imgSlider {
	border: 1px solid black;
	transition: 1s ease-in-out;
}

.bouton-droit {
	align-self: flex-end;
	right: -30px;
}

.fa-angle-right:before {
	margin-left: 12px;
	font-size: 25px;
}

.bouton-gauche {
	align-self: flex-start;
	align-content: flex-start;
	left: -30px;
	top: 30px;
}

.fa-angle-left:before {
	margin-left: 31px;
	font-size: 25px;
}

.bouton {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
	height: 60px;
	width: 60px;
	border-radius: 10%;
	text-decoration: none;
	cursor: pointer;
	top: 45%;
	opacity: 0.7;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bouton:hover {
	background: rgba(0, 0, 0, 0.8);
}

.btnPlayStop {
	width: 100px;
	background-color: #ffffff;
	color: #020202;
	font-size: 1rem;
	border: none;
	padding: 10px;
}

.btnPlayStop:hover {
	background-color: #3E92CC;
	transition: 0.3s ease-in-out;
}

.playStopButton {
	text-align: center;
}

#trait-slider {
	position: absolute;
	width: 10%;
	top: 99.3%;
	border: 2px solid #5badd3;
}

#mapid {
	height: 700px !important;
	width: 100% !important;
}
.alert {
	margin-top: 1rem !important;
}
.logo-form {
	font-size: 30px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
	padding-right: 0px;
	padding-left: 0px;
}

#reset-map {
	position: absolute;
	z-index: 1000;
	left: calc(50% - 75px);
	top: 10px;
	width: 175px;
}
#reservation {
	overflow: hidden;
}
#map-legend div.col-2  img[alt="Marker bleu"] {
	position: relative;
	left: 5px;
}
#zone_reservation {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 20%;
	background-color: rgb(215, 210, 210);
	box-shadow: 1px 1px 1px #3D4D65;
	border-left: 3px solid #3D4D65;
}
.input-Nom_Prenom {
	border: 1px solid black;
	width: 150px;
}
#inputPrenom {
	position: relative;
	right: 12px;
} 
@media (max-width: 576px) {
	ul .list-group-item {
  	font-size: 12px;
    display: inline;
	}
}
	@media (min-width: 576px) {
	a span {
		font-size: 32px !important;
	}
	a img {
		width: 120px;
		height: 90px;
	}  
}
@media (min-width: 768px) {  
	.nav-link {
		font-size: 14px;
	}
	.container-fluid {
		top: 70px;
	}
}
@media (min-width: 992px) {  
	.nav-link {
		font-size: 18px;
	}
	ul.navbar-nav {
		position: relative;
		left: 200px;
	}
	#input-form {
		width: 200px;
	}
}
@media (min-width: 1200px) {  
	ul.navbar-nav {
		position: relative;
		left: 400px;
	}
}
@media (min-width: 1920px) {  
	ul.navbar-nav {
		position: relative;
		left: 1000px;
	}
}
@media (min-width: 2560px) {  
	ul.navbar-nav {
		position: relative;
		left: 1000px;
	}
	.nav-link {
		font-size: 30px;
	}
	a span {
		font-size: 72px !important;
	}
	a img {
		width: 250px;
		height: 170px;
	}
	.container-fluid {
		top: 180px;
	}
	#textSlide {
	font-size: 30px;
	}  
}   
canvas {
	display: block;
	margin: 0 auto;
}

.container-flex {
	display: flex;
	margin-top: 5px;
	box-shadow: 1px -5px 0px rgb(0, 0, 0);
}