/* API JCDecaux : 6a44c41c86a1d2eb545763e7342cca6867d25c75 */


#slider {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.item,
.slider-img {
  padding: 0px 5px 0px 0px
}

div .item {
  transition: all 1s ease-in-out;
}

#mapid {
  position: relative;
  top: 1500px;
}

.btn-perso {
  z-index: 2;
  position: absolute;
  top: 450px;
  font-size: 150px;
  cursor: pointer;
}

#boutonDroit {
  left: 2200px;
}

#boutonGauche {
  left: 50px;
}

#zone_reservation {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: rgb(248, 254, 254);
  box-shadow: 1px 1px 3px #3D4D65;
}